# Ignore build and IDE-specific files
bin/
obj/
.idea/
.DS_Store
.env

# Ignore specific files
Library-management-system-API.csproj
Library-management-system-API.http
Library-management-system-API.sln

# Ignore specific build output directories
bin/Debug/net9.0/
bin/Debug/
net9.0/
